<h1> Lista de articulos <h1>
<table>
    <tr>
    <th>Titulo</th>
    <th>Texto</th>
    <th></th>
    </tr>
    <% @articles.each do |article| %>
        <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show',article_path(article) %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Nuevo articulo', new_article_path %>